{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
    {% if  app.request.get('_route') ends with '_create' %}
        {% trans from "category" %}category.create{% endtrans %}
    {% else %}
        {% trans from "category" %}category.edit{% endtrans %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if  app.request.get('_route') ends with '_create' %}
            {% trans from "category" %}category.create{% endtrans %}
        {% else %}
            {% trans from "category" %}category.edit{% endtrans %}
        {% endif %}
    </h1>
    {{ form(form) }}
{% endblock %}
