{% extends "::editor.html.twig" %}

{% block title %}
    {{ parent() }}
    {% trans from "category" %}category.show{% endtrans %}
{% endblock %}

{% block content %}
    <div class="col-md-9 meta">
        <div class="content">
            <h2>
                {{ entity.name }}
                <a href="{{ path('intent_backend_category_edit', {'id' : entity.id}) }}" class="glyphicon glyphicon-pencil"></a>
            </h2>
        </div>
    </div>
{% endblock %}