{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "event" %}event.create{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans from "event" %}event.create{% endtrans %}</h1>
    {{ form(form) }}
{% endblock %}
