{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "filemanager" %}filemanager.edit{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans from "filemanager" %}filemanager.create{% endtrans %}</h1>
    {{ form(form) }}
{% endblock %}
