{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "tag" %}tag.edit{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans from "tag" %}tag.edit{% endtrans %}</h1>
    {{ form(form) }}
{% endblock %}
