{% extends "::editor.html.twig" %}

{% block title %}
    {{ parent() }}
    {% trans from "publisher" %}publisher.show{% endtrans %}
{% endblock %}

{% block content %}
    <div class="col-md-9 meta">
        <div class="content">
            <h2>{{ entity.name }}</h2>
            {{ entity.description|raw }}
        </div>
        <div class="meta">
        </div>
    </div>
    <div class="col-md-3 meta">
        {% trans from "publisher" %}publisher.publish{% endtrans %}
    </div>
{% endblock %}