{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "page" %}page.create{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans from "page" %}page.create{% endtrans %}</h1>
    {{ form(form) }}
{% endblock %}
