{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "article" %}article.delete{% endtrans %}{% endblock %}

{% block content %}
<h1>Welcome to the Article:delete page</h1>
{% endblock %}
