{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "article" %}article.edit{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans from "article" %}article.edit{% endtrans %}</h1>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}
