{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "article" %}article.show{% endtrans %}{% endblock %}

{% block content %}
<h1>Welcome to the Article:show page</h1>
{% endblock %}
