{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-3 col-md-offset-5">
        <h2>{% trans from "security" %}security.reset{% endtrans %} </h2>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
